* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/1.jpeg) top ;
    background-size: cover;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 30px 1fr;
    grid-template-areas: 
    "welcome"
    "log-out"
    "btn";
}

.welcome{
    grid-area: welcome;
    background-color: rgb(94, 0, 94);
}
.log-out{
    grid-area: log-out;
    
}
.btn{
    grid-area: btn;  
    margin-top: 70px;
}


.welcome h1{
    text-align: center;
    position: relative;
    top: 20px;
    color: #ffffff;
}
.log-out p{
    text-align: right;
    position: relative;
    top: 5px;
    
}
.log-out p a{
    text-decoration: none;
    padding: 5px 15px;
    background-color: red;
    color: #ffffff;
    font-weight: 900;
}
.btn button{
    display: block;
    width: 100px;
    margin: 20px auto auto auto;
    padding: 10px 0;
    font-weight: bold;
    background-color:  rgb(129, 5, 129);
    color: #ffffff;
}
.btn .adduser{
    display: none;
    background-color: rgba(0, 0, 0, 0.664);
    width: 95vw;
    margin: 0 auto;
    padding: 4px;
    
}
.btn .adduser table tr td{
    color: #ffffff;
}
.btn .adduser table tr td input{
    padding: 5px 0;
    color: #000000;
    
}
.btn .adduser input[type="submit"],
.btn .adduser input[type="reset"]{
    position: relative;
    left: 25vw;
    margin-top: 10px;
}
.btn .edit{
    display: none;
    background-color: rgba(0, 0, 0, 0.664);
    width: 95vw;
    margin: 0 auto;
    padding: 4px;
}
.btn .edit input[type="submit"]{
    margin-left: 15px;
}
.btn .delete{
    display: none;
    background-color: rgba(0, 0, 0, 0.664);
    width: 95vw;
    margin: 0 auto;
    padding: 4px;
}
.btn .delete input[type="submit"]{
    margin-left: 15px;
}

@media screen and (min-width :736px){
    
    
}